*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Martel Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

header div {
  font-size: 0.75rem;
}

header .header-container {
  height: 28px;
  /* 調大最大會是1312，調小會適應瀏覽器寬度 */
  max-width: 1312px;
  margin: 0 auto;
  padding: 0 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 200px;
}

header .l-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 300px;
}

header .r-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 370px;
}

header .l-header > a,
header .r-header > a,
.drop-down-menu {
  cursor: pointer;
  color: #000;

  display: flex;
  align-items: center;
}

header .sign-or-reg {
  color: #0654ba;
}

header .bell,
header .cart {
  font-size: 22px;
  color: #000;
}

/* first child & first of type */
@media screen and (max-width: 1023px) {
  .r-header a:first-child {
    display: none;
  }

  header .r-header {
    width: 300px;
    /* 設定為1會縮小，設為0不會縮小 */
    flex-shrink: 0;
  }
}

@media screen and (max-width: 999px) {
  /* 指向第一個類型為div的 */
  .r-header div:first-of-type {
    display: none;
  }

  header .r-header {
    width: 220px;
    /* 設定為1會縮小，設為0不會縮小 */
    /* 不收縮之間距離 */
    flex-shrink: 0;
  }
}

/* 用F12去查成品的"or register"是甚麼寬度的時候消失的 */
@media screen and (max-width: 763px) {
  .l-header > div > span:nth-last-of-type(1) {
    display: none;
  }

  .l-header > div > a:nth-last-of-type(1) {
    display: none;
  }

  /* 用F12去查成品的左header寬度變為多少 */
  header .l-header {
    width: 250px;
    flex-shrink: 0;
  }
}

@media screen and (max-width: 662px) {
  header .l-header > a {
    display: none;
  }

  header .l-header {
    width: 110px;
    flex-shrink: 0;
  }
}

/* 選取class為main-body的section */
section.main-body,
footer {
  border-top: 1px solid #ddd;
}

nav.search-bar {
  height: 60px;
  max-width: 1312px;
  margin: 0 auto;
  padding: 0.1rem 0 4.5rem 0;
}

nav.search-bar .nav-url {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  padding: 0 32px;
}

nav.search-bar .ebay-logo img {
  width: 120px;
}

nav.search-bar .shop-catagory {
  width: 80px;
  height: 43px;
  line-height: 1rem;

  display: flex;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

nav.search-bar .category-txt {
  color: #555;
  font-size: 0.9rem;
}

nav.search-bar .category-txt:hover {
  color: #0654ba;
}

nav.search-bar .search-form {
  display: grid;
  /* flex-grow: 1 可擴充input寬度，因下面設定minmax為auto */
  flex-grow: 1;
  grid-template-columns: minmax(270px, auto) 170px 170px 70px;
}

nav.search-bar .input-placeholder {
  position: relative;
}

nav.search-bar .input-placeholder input {
  width: 100%;
  font-size: 1rem;
  padding: 0.6em 1em;

  border: 2px solid #000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}

/* 被點選到:focus，鍵盤聚焦 */
nav.search-bar .input-placeholder input:focus {
  outline: none;
}

nav.search-bar .input-placeholder .placeholder {
  position: absolute;
  top: 0.5rem;
  left: 1rem;

  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  color: #767676;
  /* 忽略放大鏡，使放大鏡變成輸入狀態 */
  pointer-events: none;
}

nav.search-bar .input-placeholder .placeholder i {
  font-size: 1.2rem;
}

/* 點選了input後馬上選擇後面的.placeholder */
nav.search-bar .input-placeholder input:focus + .placeholder {
  color: transparent;
}

nav.search-bar .input-placeholder input:not(:focus) + .placeholder i {
  color: #767676;
  transition: 0.2s ease-in;
}

nav.search-bar .input-placeholder input:not(:focus) + .placeholder span {
  color: #767676;
  transition: 0.4s ease-in;
}

nav.search-bar .categories {
  display: flex;
  justify-content: flex-start;

  border: 2px solid #000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #c7c7c7;

  position: relative;
}

nav.search-bar .categories select {
  color: #767676;
  font-size: 0.75rem;
  padding: 0 1rem;
  width: 100%;

  border: none;
  appearance: none;
}

nav.search-bar .categories i {
  color: #767676;

  position: absolute;
  right: 0.6em;
  top: 0.6em;

  /* !!重要，原本是icon，但設定之後就忽略，即可點按 */
  pointer-events: none;
}

nav.search-bar .search-btn {
  background-color: #3665f3;
  color: #fff;
  border: none;
  margin-left: 0.3rem;
  font-size: 0.8em;
  cursor: pointer;
}

nav.search-bar .search-btn i {
  font-size: 1.8rem;
}

/* 被激活的狀態、滑鼠按下，跟focus不同 */
nav.search-bar .search-btn:active {
  /* 控制移動上下左右 */
  transform: translateY(1px);
}

nav.search-bar .advanced-option {
  color: #767676;
  font-size: 0.7rem;

  display: flex;
  align-items: center;
  padding: 0.5rem;
}

nav.search-bar .advanced-option:hover {
  color: #0654ba;
}

@media screen and (max-width: 963px) {
  nav.search-bar .search-form a:last-child {
    display: none;
  }

  nav.search-bar .search-form {
    /* 將原本設定的70px刪除 */
    grid-template-columns: minmax(270px, auto) 170px 170px;
  }
}

@media screen and (max-width: 863px) {
  nav.search-bar .search-form {
    grid-template-columns: minmax(270px, auto) 170px 80px;
  }
}

@media screen and (max-width: 763px) {
  nav.search-bar .search-btn span {
    display: none;
  }

  nav.search-bar .search-form {
    grid-template-columns: minmax(200px, auto) 160px 48px;
  }

  nav.search-bar .shop-catagory {
    display: none;
  }
}

@media screen and (max-width: 663px) {
  nav.search-bar .input-placeholder .placeholder i {
    display: none;
  }
}

@media screen and (min-width: 764px) {
  nav.search-bar .search-btn i {
    display: none;
  }
}

section.main-body .nav-container {
  max-width: 1312px;
  height: 33px;
  border-top: 1px solid #ddd;
  margin: 0 auto;
  padding: 0 125px;
}

section.main-body .nav-container .center-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.main-body .nav-container .item a,
section.main-body .nav-container .item i {
  color: #555;
  font-size: 0.75rem;
}

section.main-body .nav-container .item a:hover {
  color: #0654ba;
}

section.main-body .nav-container .item13 {
  display: none;
}

section.main-body .nav-container .item13 a {
  display: flex;
  align-items: center;
}

section.main-body .nav-container .item a.active {
  font-weight: 700;
}

section.main-body .nav-container .item {
  position: relative;
}

section.main-body .nav-container .item a.active::before {
  content: "";
  width: 38px;
  height: 2px;
  background-color: #333;

  position: absolute;
  bottom: -0.1rem;
}

@media screen and (max-width: 1312px) {
  section.main-body .nav-container {
    display: grid;
    /* space between & around & evenly */
    justify-content: space-around;
  }

  section.main-body .nav-container .center-nav {
    width: 1062px;

    column-gap: 1.5em;
  }
}

@media screen and (max-width: 1090px) {
  section.main-body .nav-container .center-nav {
    width: 1020px;
  }

  section.main-body .nav-container div.item:nth-last-of-type(-n + 2) {
    display: none;
  }

  section.main-body .nav-container .center-nav .item13 {
    display: flex;
  }
}

@media screen and (max-width: 1025px) {
  section.main-body .nav-container .center-nav {
    width: 950px;
  }

  /* 去掉motors，因此改為-n+3 */
  section.main-body .nav-container div.item:nth-last-of-type(-n + 3) {
    display: none;
  }
}

@media screen and (max-width: 975px) {
  section.main-body .nav-container .center-nav {
    width: 800px;
  }

  section.main-body .nav-container div.item:nth-last-of-type(-n + 4) {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  section.main-body .nav-container .center-nav {
    width: 650px;
  }

  section.main-body .nav-container div.item:nth-last-of-type(-n + 5) {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  section.main-body .nav-container .center-nav {
    width: 600px;
  }

  section.main-body .nav-container div.item:nth-last-of-type(-n + 6) {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  section.main-body .nav-container .center-nav {
    width: 500px;
  }

  section.main-body .nav-container div.item:nth-last-of-type(-n + 7) {
    display: none;
  }
}

section.main-body .banner {
  max-width: 1312px;
  height: 400px;
  margin: 0 auto;

  transition: 0.5s;
}

section.main-body .banner .container {
  height: 100%;

  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 250px 1fr;
  grid-column-gap: 22px;
  grid-row-gap: 20px;
}

section.main-body .banner .parent {
  border: 1px solid #ddd;
  /* 把多出來的圖片隱藏 */
  /* 呼應下面的transform: scale(1.05); */
  overflow: hidden;
}

section.main-body .banner .parent1 {
  grid-row: span 2;
}

section.main-body .banner .child1 {
  height: 100%;
  background-image: url(./images/ad1.png);
  background-size: cover;
  background-position: center;
}

section.main-body .banner .child2 {
  height: 100%;
  background-image: url(./images/ad2.png);
  background-size: cover;
  background-position: center;
}

section.main-body .banner .child3 {
  height: 100%;
  background-image: url(./images/ad3.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 1312px) {
  section.main-body .banner {
    padding: 0 30px;
  }
}

@media screen and (max-width: 1200px) {
  section.main-body .banner {
    padding: 0;
  }

  section.main-body .banner .parent:nth-last-child(-n + 2) {
    display: none;
  }

  section.main-body .banner .container {
    grid-template-columns: 1fr;
  }

  section.main-body .banner .parent .child1 {
    /* 放大圖1 */
    transform: scale(1.05);
  }
}

section.collections {
  max-width: 1312px;
  margin: 0 auto;
  padding-top: 2rem;
}

section.collections h2 {
  font-weight: 200;
  color: #555;
}

section.collections .ad-container {
  border-top: 1px solid #ddd;

  display: flex;
  /* 使中間gap可隨瀏覽器寬度自動調整 */
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 45px;
}

section.collections .left-ad,
section.collections .right-ad {
  width: 585px;
  height: 600px;
  border: 1px solid #ddd;
  margin: 2rem 0;

  display: grid;
  grid-template-columns: 1fr 140px;
  grid-template-rows: repeat(3, 140px) 1fr;
}

section.collections .left-ad .main-photo,
section.collections .right-ad .main-photo {
  grid-row: span 3;

  background-position: center;
  background-size: cover;

  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

section.collections .left-ad .big-pic {
  background-image: url(./images/product1.jpg);
}

section.collections .right-ad .big-pic {
  background-image: url(./images/product2.jpg);
}

section.collections .thumbnail-container {
  display: grid;
  grid-row: span 3;
}

section.collections .left-ad .pic,
section.collections .right-ad .pic {
  background-position: center;
  background-size: cover;

  border-bottom: 1px solid #ddd;
}

section.collections .left-ad .item-1 {
  background-image: url(./images/thumbnail1_1.jpg);
}

section.collections .left-ad .item-2 {
  background-image: url(./images/thumbnail1_2.jpg);
}

section.collections .left-ad .item-3 {
  background-image: url(./images/thumbnail1_3.png);
}

section.collections .right-ad .item-1 {
  background-image: url(./images/thumbnail2_1.jpg);
}

section.collections .right-ad .item-2 {
  background-image: url(./images/thumbnail2_2.jpg);
}

section.collections .right-ad .item-3 {
  background-image: url(./images/thumbnail2_3.jpg);
}

section.collections .description-container {
  grid-column: span 2;

  display: grid;
  grid-template-columns: 1fr 140px;
  grid-template-rows: 180px;
}

section.collections .description {
  padding: 1.3rem;
}

section.collections .description h2 {
  color: #000;
  font-weight: 400;
  line-height: 1.6rem;

  margin-top: 2px;
}

section.collections .description p {
  color: #555;
  line-height: 1.5rem;
  /* 文字間距平均分配 */
  text-align: justify;

  margin-top: 1rem;
}

section.collections .list-container {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  /* 垂直置中 */
  place-items: center;
}

section.collections .list-container .details {
  color: #333;
  font-weight: 700;
  font-size: 0.9em;

  width: 100%;
  text-align: center;

  position: relative;
}

section.collections .list-container .details:nth-child(n + 2)::before {
  content: "";
  width: 90%;
  height: 1px;
  background-color: #ddd;

  position: absolute;
  top: -1rem;
  left: 10px;
}

section.collections .list-container .detail-3 a {
  color: #0654ba;
}

section.collections .list-container .detail-3 a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1214px) {
  section.collections .ad-container {
    flex-wrap: wrap;
    justify-content: center;
  }
}

section.card {
  max-width: 1312px;
  margin: 0 auto;
}

section.card .title {
  display: flex;
  align-items: center;
}

section.card .title h2 {
  font-weight: 200;
  color: #555;
}

section.card .title span {
  font-size: 1.2em;

  display: flex;
  align-items: center;

  margin-left: 2rem;
}

section.card .title i {
  font-size: 1.5em;
}

/* 跟下面那個root一樣，為了方便檢查放這 */
/* :root {
  --card-pic-width: 150px;
  --card-pic-height: var(--card-pic-width);

  --card-container-padding: 44px;
  --card-container-gap: 22px;

  --card-width: 100vw;
} */

section.card .container {
  padding: 0 var(--card-container-padding);

  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: space-between;
}

section.card .container .card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.card .container .card-pic {
  background-size: cover;

  width: var(--card-pic-width);
  height: var(--card-pic-height);
  border-radius: 50%;

  transition: 0.5s;
}

section.card .card-item-1 .card-pic {
  background-image: url(images/1.png);
}

section.card .card-item-2 .card-pic {
  background-image: url(images/2.png);
}

section.card .card-item-3 .card-pic {
  background-image: url(images/3.png);
}

section.card .card-item-4 .card-pic {
  background-image: url(images/4.png);
}

section.card .card-item-5 .card-pic {
  background-image: url(images/5.png);
}

section.card .card-item-6 .card-pic {
  background-image: url(images/6.png);
}

section.card .card-item-7 .card-pic {
  background-image: url(images/7.png);
}

section.card .container .card-title {
  color: #000;
  font-size: 0.95em;

  text-align: center;
}

/* +和> */
section.card .container .card-item:hover > .card-pic {
  /* 不須位移 0 0，2px 為光暈程度*/
  box-shadow: 0 0 2px #000;
}

section.card .container .card-item:hover > .card-title {
  text-decoration: underline;
}

/* 第二行 先隱藏 */
section.card .second-line.hidden {
  display: none;
}

:root {
  --card-pic-width: 150px;
  --card-pic-height: var(--card-pic-width);

  --card-container-padding: 44px;
  --card-container-gap: 22px;

  --card-width: 100vw;
}

@media screen and (max-width: 1312px) {
  section.card {
    width: var(--card-width);
  }

  section.card .container {
    grid-column-gap: var(--card-container-gap);
  }

  section.card .container .card-item {
    width: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 6
        ) / 7
    );
  }

  section.card .container .card-item .card-pic {
    width: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 6
        ) / 7
    ) !important;
    height: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 6
        ) / 7
    ) !important;
  }
}

/* 製作container內第二行(上面4個圓+下面3個圓) */
@media screen and (max-width: 767px) {
  section.card {
    --card-width: 98vw;
  }

  section.card .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "a b c d"
      "sec sec sec sec";
  }

  section.card .card-item-1 {
    grid-area: a;
  }

  section.card .card-item-2 {
    grid-area: b;
  }

  section.card .card-item-3 {
    grid-area: c;
  }

  section.card .card-item-4 {
    grid-area: d;
  }

  section.card .second-line {
    grid-area: sec;
  }

  section.card .card-item.hidden {
    display: none;
  }

  section.card .container .card-item {
    width: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 3
        ) / 4
    );
  }

  section.card .container .card-item .card-pic {
    width: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 3
        ) / 4
    ) !important;
    /* 如果沒加!important那麼每個圓的寬高還會是除以7的寬高 */
    height: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 3
        ) / 4
    ) !important;
  }

  section.card .second-line.hidden {
    display: grid;
    /* 本來是縱向排佈，加了以下會變橫向 */
    grid-template-columns: repeat(3, 1fr);

    width: 78%;
    /* 左邊padding為圓的半徑，so用圓的寬去除以2，再+12px向右微調至置中即可 */
    padding-left: calc(
      (
          var(--card-width) - var(--card-container-padding) * 2 -
            var(--card-container-gap) * 3
        ) / 4 / 2 + 12px
    );

    grid-column-gap: var(--card-container-gap);
  }
}

footer .container {
  max-width: 1312px;
  margin: 0 auto;

  display: flex;
  justify-content: flex-end;
}

footer .container p {
  color: #555;
  padding: 0 3em;
}
