*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.container {
  border: 1px dashed rgb(189, 189, 222);
  width: 500px;
  height: 500px;
  display: grid;
  /* grid-template-rows / grid-template-columns */
  grid-template: 80px auto 80px / 120px auto 120px;
  resize: horizontal;
  overflow: hidden;
}

header {
  background-color: rgb(179, 211, 178);
  text-align: center;
  padding-top: 20px;
  grid-column: 1 / 4;
}

footer {
  background-color: rgb(179, 211, 178);
  text-align: center;
  padding-top: 30px;
  grid-column: 1 / 4;
}

.text-align {
  border: 1px dashed rgb(189, 189, 222);
  font-size: 25px;
  padding: 20px;
  text-align: center;
}

.left-sidebar {
  background-color: #74cfd2;
  grid-column: 1 / 2;
}

main {
  background-color: #e1b99c;
  grid-column: 2 / 3;
}

.right-sidebar {
  background-color: #dfe19c;
  grid-column: 3 / 4;
}
