*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  background-color: rgb(172, 235, 214);
  border: 1px dashed rgb(58, 51, 197);
  width: 500px;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 18px;
  resize: horizontal;
  overflow: auto;
}

.text {
  background-color: rgb(228, 228, 152);
  text-align: center;
}

.box1 {
  font-size: 25px;
  padding: 22px;
}

.box2 {
  font-size: 25px;
  padding: 22px;
}

.box3 {
  font-size: 25px;
  padding: 22px;
}

.box4 {
  padding: 22px;
}

.box5 {
  padding: 22px;
}

.box6 {
  padding: 22px;
}

.hello {
  background-color: rgb(172, 235, 214);
  border: 1px dashed rgb(58, 51, 197);
  width: 120px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 17px;
}