// header
$header-height: 3rem;

// color
$first-color: #1d1d1f;
$second-color: #0071e3;
$black-color: #111;
$white-color: #fff;
$bg-color: #fafafa;

// fonts
$body-fonts: "Roboto", sans-serif;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// font-size
$biggest-font-size: 2.5rem;
// $bigger-font-size: 2.25rem;
$big-font-size: 1.5rem;
$normal-font-size: 1.25rem;
$smaller-font-size: 0.75rem;

// 次要scss裡的@media不可執行，因為次要scss只會翻譯一次，需把條件加到主要scss裡的@media才可執行
@media screen and (min-width: 768px) {
  $biggest-font-size: 3.5rem;
  // $bigger-font-size: 3rem;
  $big-font-size: 1.5rem;
  $normal-font-size: 1rem;
  $smaller-font-size: 0.9rem;
}

// 或是在次要scss設置:root{}，然後在主要scss裡用var()套用變數才可執行
:root {
  --bigger-font-size: 2.25rem;

  @media screen and (min-width: 768px) {
    --bigger-font-size: 3rem;
  }
}

// line-height
$line-height-medium: 2rem;
$line-height-smaller: 1.3rem;
$line-height-smallest: 1rem;

// z-index
$z-back: -10;
$z-normal: 1;
$z-fixed: 100;
